@media (max-width: 992px) {
  .header {
    padding: 1.25rem 4%;
  }
}

@media (max-width: 768px) {
    #menu-icon {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    padding: .5rem 4%;
    display: none;
  }

  .navbar.active {
    display: block;
  } 
  .navbar a {
    display: block;
    margin: 1.5rem 0;
  }
  .nav-bg {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 193px;
    background: rgba(255, 255, 255 , .1);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    z-index: 99;
    display: none;
  }
  .nav-bg.active {
    display: block;
  }
  
  .main-section {
    top: 0;
  }

  .inner-section {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .about-card.active, .contact-card, .socials-card {
    flex-direction: column;
    width: 90%;
  }

  .about-card.active h1 {
    font-size: 1.55rem;
  }


  .about-card .left-section {
    padding-bottom: 20px;
  }
.about-card .right-section {
  padding-bottom: 40px;
} 
  .about-card .left-section p, .about-card .right-section p {
    font-size: 0.7rem;
  }

  .about-card #close-cards, .socials-card #close-cards {
    position: absolute;
    font-size: 45px;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

  .left-section, .right-section
  {
    width: 100%;
  }
  .socials-card .left-section p {
    padding-bottom: 20px;
  }
  .socials-card .right-section h1 {
    flex-basis: 20%;
    height: fit-content;
  }

  .social-card .right-section {
    height: fit-content;
  }
  .socials  -card  h1 {
    font-size: 1.55rem;
  }

  .social-card-logos {
    padding: 40px 0;
    flex-basis: 80%;
    flex-direction: column;
    align-items: center;
    position: static;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .contact-card .left-section h1 {
    font-size: 1.8rem;

  }
  #intro-description {
    position: relative;
    margin-top: -5px;
  }
}

@media (max-width: 340px) {
  #intro-heading {
    font-size: 1.5rem;
    text-align: center;

  } 
  #intro-description {
    font-size: 0.8rem;
    text-align: center;
  }

}