<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet" href="./static/mediaqueries.css">
    <title>William's Portofolio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="./static/assets/favicon.png">
</head>

<body>
    <div class="main-section">
        <div class="inner-section">
            <h1 id="intro-heading">Hi! I'm William</h1>
            <p id="intro-description">Creator of <a target="_blank" href="https://discord.gg/fYJN2PdwfM"
                    class="odin-tribe">Odin Tribe</a></p>
        </div>
    </div>
    </div>

    <script src="./static/script.js"></script>
</body>

</html>
